*,::after,::before 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body 
{
	background-color: #222;
	color: whitesmoke;
	width: 100%;
	min-height: 100vh;
}

.section
{
	max-width: 1200px;
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.form 
{
	height: 50%;
	width: 300px;
	max-width: 300px;
	min-width: 290px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: auto;
	gap: 10px;
}


.content 
{
	margin-bottom: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 90%;
	max-width: 300px;
	min-width: 290px;
	height: 50%;
	gap: 10px;
}

.content  button 
{
	width: 100%;
	padding: 5px 0px;
}


.form input 
{
	flex: 2;
}


.form .btn-agregar 
{
	flex: 1;
}


.form input,
.form .btn-agregar
{
	height: 30px;
	display: block;
}


.ul 
{
	width: 100%;
	height: 100%;
	list-style: none;
	height: auto;
}


.ul li 
{
	color: crimson;
	background-color: #f3f3f3;
	width: 100%;
	padding: 5px 10px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.hide 
{
	display: none;
}


@media screen and ( max-width: 500px){
	.form 
	{
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.form input 
	{
		width: 100%;
		flex: none;
	}


	.form .btn-agregar 
	{
		width: 100%;
		flex: none;
	}

}
